Source: libquillmetadata
Section: libs
Priority: extra
Maintainer: Pekka Marjola <Pekka.Marjola@nokia.com>
Build-Depends: debhelper (>= 5),libqt4-dev,libqt4-opengl-dev,libexif-dev,libexempi-dev,libjpeg62-dev,doxygen
Standards-Version: 3.8.0

Package: libquillmetadata1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libexif12,libexempi3,libjpeg62
Description: libquillmetadata library
 This library is created for matadata manipulation.

Package: libquillmetadata-dev
Section: libdevel
Architecture: all
Depends: libquillmetadata1 (= ${binary:Version}),libqt4-dev,libexif-dev,libexempi-dev,libjpeg62-dev
Description: libquilmetadatal development headers

Package: libquillmetadata-doc
Section: doc
Architecture: all
Depends: libquillmetadata1 (= ${binary:Version})
Description: Documentation for libquillmetadata

Package: libquillmetadata1-dbg
Section: devel
Architecture: any
Priority: extra
Depends: libquillmetadata1 (= ${binary:Version})
Description: libquillmetadata debug symbols

Package: libquillmetadata-tests
Section: tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtcore4, libqtgui4, libquillmetadata1 (= ${binary:Version}), libexif12, libexempi3, testrunner, ci-package, ci-testing [armel]
XB-Maemo-CI-Packages: libquillmetadata1
XB-Maemo-CI-Stage: fast, staging, acceptance
Description: libquillmetadata unit tests
 This is the image editor's unit tests and it includes libquillmetadata.

